extends layout

block layout-content 
    main
      section#about-us
        h2 About Us
        p We have everything available on our website with all latest released products. You can also visit us on 
        p Address: Humber College North Campus.
        p Contact Number: +1 (123) 123-1234