html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | E-Commerence Website
        link(rel="stylesheet",type="text/css",href="/css/styles.css")
    body 
        header#header.header-container  
            h2#site-name E-Commerence Website 
            nav#nav 
                ul  
                    each link in menu 
                        li 
                            a(href=link.path) #{link.name} 
        main#main 
            block layout-content
        footer 
            p &copy; Copywrite Http5222, 2024.
