extends layout

block layout-content
    h1.page-title Administrater menu links 
    a(href="/admin/menu/add") + Add new Link 
    table(border=1) 
        thead 
            tr 
                th Link
                th Operation 
        tbody 
            each link in menu 
                tr 
                    td #{link.name} (#{link.path})
                    td 
                        form(action="/admin/menu/edit")
                            input(type="hidden", name="linkId", value=link._id)
                            button(type="submit") Edit

                        form(action="/admin/menu/delete")
                            input(type="hidden", name="linkId", value=link._id)
                            button(type="submit") Delete


            