.navbar {
    background-color: black;
    padding: 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #646cff;
    font-size: 1.2rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.navbar-title {
    margin: 0;
    padding: 0;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
}